* {
    /* background: #E6F3FA; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #E6F3FA;
}