.dashboardContainer {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    justify-content: center;
    align-items: center;
}

.dashboardTitle {
    margin: 30px; 
    font-size: 24px;
}

.caseContainer {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.case {
    flex: 22%;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    max-width: 22%;
    margin-bottom: 40px;
    border-radius: 5px;
}

.case#total {
    background-color: #FFD2FBB2;
}

.case#active {
    background-color: #FFE2D2;
}

.case#pending {
    background-color: #D2FFE7B2;
}

.case#solved {
    background-color: #F9FFD2B2;
}

.case .numberOfCases {
    font-size: 32px;
    font-weight: 600;
}

.case .statusOfCases{
    font-size: 16px;
    font-weight: 600;
}

.scheduledCasesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
}
 
.scheduledCasesTable {
    width: 100%;
}

 
.colHeading {
    border-top: 1px solid black;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
}

.scheduledCasesTable .tableHeading {
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 0 16px 0;
}
 
.data {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
    height: 50px;
}

.generateBtn {
    align-self: flex-end;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: #7BC3EC;
    color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid #4181a7;
    border-right: 2px solid #4181a7;
    cursor: pointer;
}

.generateBtn:hover {
    background-color: #4181a7;
    color: #e6f3faee;
}

@media (max-width: 1040px) {
    .caseContainer {
        justify-content: space-between;
    }

    .case {
      flex: 35%;
      max-width: 35%;
        
    }

    .case .numberOfCases {
        font-size: 28px;
    }

    .case .statusOfCases {
        font-size: 14px;
    }
}

@media (max-width: 700px) {

    .dashboardContainer {
        padding: 0 30px;
    }

    .case {
        min-width: 135px;
        margin-bottom: 15px;
    }

    .case .numberOfCases {
        font-size: 22px;
    }

    .case .statusOfCases {
        font-size: 12px;
    }

    .scheduledCasesTable .tableHeading {
        font-size: 18px;
    }
}
